version: "3"
services:
  python_test:
    build: python_test/
    container_name: api_PythonTest

  nginx:
    build: nginx/
    container_name: nginx
    restart: unless-stopped
    volumes:
      - /opt/impisigmatus.ru:/opt/impisigmatus.ru
      - ./nginx/www:/var/www
      - /home/webdav:/var/www/webdav
      - ./nginx/conf.d/:/etc/nginx/conf.d/
    ports:
      - 8000:443
    links:
      - api_PythonTest
