version: "3"
services:
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    volumes:
      - /opt/impisigmatus.ru:/opt/impisigmatus.ru
      - ./nginx/www:/var/www
      - ./nginx/conf.d/:/etc/nginx/conf.d/
    ports:
      - 8000:443
    links:
#       - python_server
      - python_test

  nginx_build:
    build: nginx/
    restart: unless-stopped
    volumes:
      - /opt/impisigmatus.ru:/opt/impisigmatus.ru
      - ./nginx/www:/var/www
      - /home/webdav:/var/www/webdav
      - ./nginx/conf.d/:/etc/nginx/conf.d/
    ports:
      - 8001:443

#   python_server:
#     build: python_server/
#     restart: unless-stopped
#     volumes:
#       - /home/webdav:/var/www/webdav
#     container_name: api_PythonServer

  python_test:
    build: python_test/
    container_name: api_PythonTest
